In [1]:

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

from selenium import webdriver  
from webdriver_manager.chrome import ChromeDriverManager 
from selenium.webdriver.common.keys import Keys  
from selenium.webdriver.support.ui import Select  
from selenium.webdriver.support import expected_conditions as EC 
from time import sleep
import pandas as pd
from selenium import webdriver

from tqdm import tqdm
import os
from bs4 import BeautifulSoup
import requests
import numpy as np
import re

In [2]:

url_pant= "https://minimalismbrand.com/collections/pantalones-organicos-mujer"
res_pant = requests.get(url_pant)
sopa_pant = BeautifulSoup(res_pant.content, "html.parser")

#Nombre producto
lista_nom_pant = sopa_pant.findAll("h3", {"class" :"product-block__title"})
#Precio producto
lista_prec_pant = sopa_pant.findAll("div", {"class" :"product-price"})

In [3]:
lista_nombres_pant=[nom.getText().strip().replace(" · ", " ").replace(" - ", "").replace("\n                  ", " ") for nom in lista_nom_pant]
lista_precio_pant=[prec.getText().strip().replace("€", "") for prec in lista_prec_pant]

In [4]:
lista_nom_pant[5].getText().strip().replace(" · ", " ").replace(" - ", "").replace("\n                  ", " ")

'Pantalón Jogger Largo Orgánico Chándal unisex Negro'

In [5]:
lista_nombres_pant

['Pantalón orgánico Mom Fit Mujer',
 'Pantalón vaquero Regular Mujer',
 'Pantalón Relaxed Jogger Orgánico Negro',
 'Pantalón Relaxed Jogger Orgánico Lava Grey',
 'Pantalón Relaxed Jogger Orgánico Navy Blue',
 'Pantalón Jogger Largo Orgánico Chándal unisex Negro',
 'Pantalón Jogger Largo Orgánico Chándal unisex Gris',
 'Pantalón Jogger Corto Orgánico Chándal unisex Negro',
 'Pantalón Jogger Corto Orgánico Chándal unisex Gris']

In [6]:
lista_precio_pant

['70.00',
 '70.00',
 '55.00',
 '55.00',
 '55.00',
 '55.00',
 '55.00',
 '40.00',
 '40.00']

In [7]:

url_int= "https://minimalismbrand.com/collections/pack-ropa-interior-mujer-minimalista"
res_int = requests.get(url_int)
sopa_int = BeautifulSoup(res_int.content, "html.parser")

#Nombre producto
lista_nom_int = sopa_int.findAll("h3", {"class" :"product-block__title"})
#Precio producto
lista_prec_int = sopa_int.findAll("div", {"class" :"product-price"})

In [8]:
lista_nom_int[0].getText().strip().replace(" · ", " ").replace(" - ", "").replace("\n                  ", " ")

'Culotte Minimalism Blanco'

In [9]:
lista_nombres_int=[nom.getText().strip().replace(" · ", " ").replace(" - ", "").replace("\n                  ", " ").replace("x","").replace("X", "").replace("uds", "") for nom in lista_nom_int]
lista_precio_int=[prec.getText().strip().replace("€", "").replace("    \n                      \n                      \n                    \n", "T").split("T")[0] for prec in lista_prec_int]

In [10]:
lista_nombres_int

['Culotte Minimalism Blanco',
 'Culotte Minimalism Negro',
 'Culotte Minimalism 3',
 'Culotte Minimalism 5',
 'Culotte Minimalism 7',
 'Tanga Minimalism Blanca',
 'Tanga Minimalism Negra',
 'Tanga Minimalism 3',
 'Tanga Minimalism 5',
 'Tanga Minimalism 7',
 'Bralette Minimalism Blanco',
 'Bralette Minimalism Negro',
 'Bralette Minimalism 2',
 'Calcetines Pinkies OrgánicosPack 3 ',
 'Calcetines Pinkies OrgánicosPack 5 ',
 'Calcetines Pinkies OrgánicosPack 7 ',
 'Calcetines Tobilleros OrgánicosPack 3 ',
 'Calcetines Tobilleros OrgánicosPack 5 ',
 'Calcetines Orgánicos tobillero 7',
 'Calcetines OrgánicosPack 3 ',
 'Calcetines OrgánicosPack 5 ',
 'Calcetines OrgánicosPack 7 ',
 'Calcetines urban classics algodón orgánico 3',
 'Calcetines urban classics algodón orgánico 5',
 'Calcetines urban classics algodón orgánico 7']

Beauti dentro de cada producto

Consigo las urls de cada producto para acceder a el

In [11]:
url_gen= "https://minimalismbrand.com/collections/ropa-minimalism-mujer"
res_gen = requests.get(url_gen)
sopa_gen = BeautifulSoup(res_gen.content, "html.parser")

lista_nom_gen = sopa_gen.findAll("a", {"class" :"image-overlay__image-link"})

In [12]:
lista_nom_gen[7].get("href")

'/collections/toallas'

In [13]:

lista_cat_gen=[gen.get("href") for gen in lista_nom_gen]

In [14]:
lista_cat_gen

['/collections/pack-ropa-interior-mujer-minimalista',
 '/collections/camisetas-algodon-organico-mujer',
 '/collections/sudaderas-mujer',
 '/collections/accesorios',
 '/collections/pantalones-organicos-mujer',
 '/products/jersey-sueter-lana-merino-reciclada',
 '/collections/calcetines-algodon-organico',
 '/collections/toallas']

esto es solo de ropa interior

In [15]:
for cat in lista_cat_gen:
    url_cat= f"https://minimalismbrand.com{cat}"
    res_cat = requests.get(url_cat)
    sopa_cat = BeautifulSoup(res_cat.content, "html.parser")

    lista_nom_cat = sopa_cat.findAll("a", {"class" :"product-link"})
    lista_product_cat=[product.get("href") for product in lista_nom_cat]

In [ ]:
df_mini=pd.DataFrame()

for cat in lista_cat_gen:
    url_cat= f"https://minimalismbrand.com{cat}"
    res_cat = requests.get(url_cat)
    sopa_cat = BeautifulSoup(res_cat.content, "html.parser")

    lista_nom_cat = sopa_cat.findAll("a", {"class" :"product-link"})
    lista_product_cat=[product.get("href") for product in lista_nom_cat]

    df_final=pd.DataFrame()
    lista_producto_tot=[]
    lista_prec_tot=[]
    lista_col_tot=[]
    lista_tall_tot=[]
    lista_opi_tot=[]
    lista_rat_tot=[]
    for lin in tqdm(lista_product_cat):
        url=f"https://minimalismbrand.com{lin}"
        res = requests.get(url)
        sopa = BeautifulSoup(res.content, "html.parser")


        #Coger producto
        lista_prod = sopa.findAll("h1", {"class" :"title"})
        lista_producto=[col.getText().lower().strip() for col in lista_prod]
        lista_producto_tot.append(lista_producto)
        

        #Coger precio
        lista_prec = sopa.findAll("span", {"class" :"current-price theme-money"})
        lista_precio=[prec.getText().strip().replace("€", "") for prec in lista_prec]
        lista_prec_tot.append(lista_precio)


        #Coger color
        lista_col = sopa.findAll("div", {"class" :"option-selector__btns"})
        lista_color=[col.getText().replace("\n", " ").strip().split() for col in lista_col]
        lista_col_tot.append(lista_color)

        #Coger tallas
        fieldset_talla = None
        for fieldset in sopa.find_all("fieldset", class_="option-selector-fieldset"):
            legend = fieldset.find("legend", class_="label")
            if legend and "Talla" in legend.get_text():
                fieldset_talla = fieldset
                break  

        lista_talla = []
        if fieldset_talla:
            for label in fieldset_talla.find_all("label", class_="opt-label"):
                talla = label.get_text(strip=True)
                lista_talla.append(talla)
        lista_tall_tot.append(lista_talla)

        #Coger opinion
        lista_rate = sopa.findAll("span", {"class" :"stamped-badge"})
        lista_opi=[col.getText().replace(" Opiniones","")for col in lista_rate]
        df_opi=pd.DataFrame(lista_opi)
        lista_opi_tot.append(lista_opi)

        #Coger rating
        lista_rating=[col["data-rating"] for col in lista_rate]
        lista_rat_tot.append(lista_rating)

    df_prod=pd.DataFrame(lista_producto_tot, columns=["producto"])
    df_prec=pd.DataFrame(lista_prec_tot, columns=["precio"])
    # df_col=pd.DataFrame(lista_col_tot, columns=["color"])
    # df_tall=pd.DataFrame(lista_tall_tot, columns=["tallas"])
    df_opi=pd.DataFrame(lista_opi_tot, columns=["opiniones"])
    df_rat=pd.DataFrame(lista_rat_tot, columns=["rating"])

    df_final=pd.concat([df_final, df_prod, df_prec, df_tall, df_opi, df_rat], axis=1)

    df_mini=pd.concat([df_mini, df_final], ignore_index=True, axis=0)

100%|██████████| 54/54 [00:18<00:00,  2.97it/s]
100%|██████████| 56/56 [00:19<00:00,  2.88it/s]
100%|██████████| 28/28 [00:09<00:00,  2.87it/s]
100%|██████████| 48/48 [00:14<00:00,  3.23it/s]
100%|██████████| 22/22 [00:06<00:00,  3.27it/s]
100%|██████████| 4/4 [00:00<00:00,  4.01it/s]

ValueError: 1 columns passed, passed data had 0 columns

In [19]:
listaa=["ab", "rt", 6]
a=pd.DataFrame(listaa)

In [20]:
a

    0
0  ab
1  rt
2   6

In [39]:
df_final

                       0    1    2    3    4    5
0                   None  NaN  NaN  NaN  NaN  NaN
1                   None  NaN  NaN  NaN  NaN  NaN
2                   None  NaN  NaN  NaN  NaN  NaN
3                   None  NaN  NaN  NaN  NaN  NaN
4     culotte minimalism  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...  ...  ...
1591                None  NaN  NaN  NaN  NaN  NaN
1592                None  NaN  NaN  NaN  NaN  NaN
1593                None  NaN  NaN  NaN  NaN  NaN
1594                None  NaN  NaN  NaN  NaN  NaN
1595                None  NaN  NaN  NaN  NaN  NaN

[1596 rows x 6 columns]

In [22]:
lista_prod[0]

In [40]:
df_prod

                                               0
0                                           None
1                                           None
2                                           None
3                                           None
4               toalla lavabo · algodón orgánico
5               toalla lavabo · algodón orgánico
6               toalla lavabo · algodón orgánico
7               toalla lavabo · algodón orgánico
8             toalla de ducha · algodón orgánico
9             toalla de ducha · algodón orgánico
10            toalla de ducha · algodón orgánico
11            toalla de ducha · algodón orgánico
12  toallas baño pack mediano · algodón orgánico
13  toallas baño pack mediano · algodón orgánico
14                      gel sólido uso diario x3
15                      gel sólido uso diario x3
16                      gel sólido uso diario x5
17                      gel sólido uso diario x5
18                      gel sólido uso diario x7
19                      gel sólido uso diario x7
20                   champú sólido uso diario x3
21                   champú sólido uso diario x3
22                   champú sólido uso diario x5
23                   champú sólido uso diario x5
24                   champú sólido uso diario x7
25                   champú sólido uso diario x7

In [24]:
df_precio

       0
0   9.00
0   9.00
0   9.00
0   9.00
0  17.00
0  17.00
0  17.00
0  17.00
0  24.00
0  24.00
0  20.00
0  20.00
0  30.00
0  30.00
0  38.00
0  38.00
0  20.00
0  20.00
0  30.00
0  30.00
0  38.00
0  38.00

In [25]:
df_opinion

   0
0  9
0  9
0  9
0  9
0  9
0  9
0  9
0  9
0  9
0  9

In [26]:
df_talla

Empty DataFrame
Columns: []
Index: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
df_rating

     0
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2
0  4.2

In [28]:
df_final.sample(10)

                                                  0    1    2    3    4    5
20159                    gorro de algodón reciclado  NaN  NaN  NaN  NaN  NaN
11059                                           NaN  NaN  NaN  NaN  NaN  NaN
5068                                             65  NaN  NaN  NaN  NaN  NaN
23180                                           4.3  NaN  NaN  NaN  NaN  NaN
6372                                            4.9  NaN  NaN  NaN  NaN  NaN
9444             camiseta oversize algodón orgánico  NaN  NaN  NaN  NaN  NaN
6033                                            NaN  NaN  NaN  NaN  NaN  NaN
7548   calcetines tobilleros orgánicos - pack 3 uds  NaN  NaN  NaN  NaN  NaN
3936                                            NaN  NaN  NaN  NaN  NaN  NaN
2842                                            4.9  NaN  NaN  NaN  NaN  NaN

In [29]:

# url_lin= "https://minimalismbrand.com/products/culotte-minimalism-algodon-organico?variant=35088233889949"
# res_lin = requests.get(url_lin)
# sopa_lin = BeautifulSoup(res_lin.content, "html.parser")

# lista_prec = sopa_lin.findAll("span", {"class" :"current-price theme-money"})
# lista_col = sopa_lin.findAll("div", {"class" :"option-selector__btns"})
# lista_tal = sopa_lin.findAll("fieldset", {"class" :"option-selector-fieldset"})
# lista_rate = sopa_lin.findAll("span", {"class" :"stamped-badge"})
# lista_cost = sopa_lin.findAll("div", {"class" :"cc-accordion-item__content rte cf"})
# lista_prod = sopa_lin.findAll("h1", {"class" :"title"})
# #<span class="stamped-badge" data-rating="4.8" data-lang="es" aria-label="Rated 4,8 out of 5 stars 121 reviews"><span class="stamped-starrating stamped-badge-starrating" aria-hidden="true"><i class="stamped-fa stamped-fa-star" style="color:#333333 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" style="color:#333333 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" style="color:#333333 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" style="color:#333333 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star" style="color:#333333 !important;" aria-hidden="true"></i></span><span class="stamped-badge-caption" data-reviews="121" data-rating="4,8" data-label="Opiniones" aria-label="121 reviews" data-version="2">121<span style="display:none;"> Opiniones</span></span></span>

In [30]:
# lista_prod[0].getText().lower().strip()
# lista_producto=[col.getText().lower().strip() for col in lista_prod]

In [31]:
# df_final=pd.DataFrame()
# df_producto=pd.DataFrame()
# for lin in tqdm(lista_nombre_lin):
# print(f"link: {lin}")
# url=f"https://minimalismbrand.com{lin}"
# res = requests.get(url)
# sopa = BeautifulSoup(res.content, "html.parser")


# #Coger producto
# lista_prod = sopa.findAll("h1", {"class" :"title"})
# lista_producto=[col.getText().lower().strip() for col in lista_prod]
# df_prod=pd.DataFrame(lista_producto)
# df_producto= pd.concat([df_producto,df_prod], axis=0)

# #Coger precio
# lista_prec = sopa.findAll("span", {"class" :"current-price theme-money"})
# lista_precio=[prec.getText().strip().replace("€", "") for prec in lista_prec]
# df_precio=pd.DataFrame(lista_precio)

# #Coger color
# lista_col = sopa.findAll("div", {"class" :"option-selector__btns"})
# lista_color=[col.getText().replace("\n", " ").strip().split() for col in lista_col]
# df_col=pd.DataFrame([lista_color])

# #Coger tallas
# fieldset_talla = None
# for fieldset in sopa.find_all("fieldset", class_="option-selector-fieldset"):
#     legend = fieldset.find("legend", class_="label")
#     if legend and "Talla" in legend.get_text():
#         fieldset_talla = fieldset
#         break  

# lista_talla = []
# if fieldset_talla:
#     for label in fieldset_talla.find_all("label", class_="opt-label"):
#         talla = label.get_text(strip=True)
#         lista_talla.append(talla)
# df_tall=pd.DataFrame([lista_talla])

# #Coger opinion
# lista_rate = sopa.findAll("span", {"class" :"stamped-badge"})
# lista_opi=[col.getText().replace(" Opiniones","")for col in lista_rate]
# df_opi=pd.DataFrame(lista_opi)

# #Coger rating
# lista_rating=[col["data-rating"] for col in lista_rate]
# df_rat=pd.DataFrame(lista_rating)




# df_final=pd.concat([df_final, df_prod, df_precio, df_col, df_tall, df_opi, df_rat], ignore_index=True)